

h1.intro {
  color: #dc2e2e;
  font-size: 25px;
  text-align: center;
  
}

.paragraph-text {
  font-size: 15px;
  
}

.header-text {
  background: #333B4E;
  border: 2px solid #ff7700;
  border-radius: 5px;
  color: white;
  padding: 25px;
  text-align: center;
}

.paragraph-text {
  color: black;
}


#navbar ul li a:hover {
  color: orange;

}

#navbar ul li a {
  color: black;

}

.nav li a:hover {
   color: #262C3A ;
}


#navbar ul li a span {
  color: #505c70;
}


div.copyright {
  background: #262C3A;
  color: white;
  padding: 15px;
}

.copyright .container span {
  color: #E95E51;
}

.copyright .container a {
  color: #00fff2;
}

.img-center {
  display: block;
    margin: auto;
    width: 100%;
}

.container video {
  display: block;
  margin: auto;
  width: 40%;
}

.container p iframe {
  display: block;
  margin: auto;
  width: 70%;
}

.myPanel {
  border: 2px solid #ff7700;
  border-radius: 5px 5px 0 0;

}

.myPanel .heading {
  background: #333B4E;
  border: 0 solid #ff7700;
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 25px;
}

.myPanel .body p {
  text-align: center;
}

.myPanel div a .btn {
  text-align: center;
}

p.registration-text {
  text-align: center;
  font-size: 25px;
  color: black;
}


a.btn {
  display: block;
    margin: auto;
    width: 10%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

a.btn:hover {
    background-color: #555555;
    color: white;
    align-items: center;

}

p.para-format {
  color: #87a019;
  font-size: 25px;
  text-align: center;
}


.social-links {
  background: #333b4e;
  padding: 1%;


}

.social-links ul li a {
  color: white;

}

.social-links .col-md-4 p {
  color: white;
}

.social-links .col-md-4 h1 {
  color: white;
}


.social-networks  {
    
    background-color: #333B4E;
}

.social-links .social-networks ul {
    
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.social-networks ul li {
    
    margin:30px;
    display: block;
    transform: translate(300%,300%);
    margin-left: 50%;




}