
h1.main-header {
	text-align: center;
	font-size: 40px;
    font-weight: 10;
	color: #cc3300
	
}


body {
	background-image: url(image2.png);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    font-weight: 150;
    margin:0;
}


.text {
	color: #0066ff;
}


header {

	background: white;
	background-image: none;
	/*padding: 0 0 10px 750px;*/
	padding: 0 0 1% 10%;

	
}

nav ul{
	margin:0;
	text-align: right;
}

nav ul li {	
	display: inline-block;
	list-style-type: none;
	margin: 5px;
	padding: 15px 0px 0 0;

	}

a {	
	color: #3366ff;
	font-family: "Comic Sans MS", sans-serif;

}


p {
	color: black;
	font-family: 'Roboto', sans-serif;
	padding: 10px;

}


h2 {
	/*background: #514f44;*/
	background: #ffffff;
	font-family: "Comic Sans MS";
	color:white;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	}



nav ul li a {
	color: #514f44;
	background: #fff;
}

.intro {
	text-align: center;
	color:  #0066ff;
}

img {
    display: block;
    margin: auto;
    width: 70%;
	}

div.panel-heading {
		text-align: center;

}

div.panel-body {
		text-align: center;

}


img.img-size {
    height: 400px;
    width: 100%;
    background-color: powderblue;
}


h1 {
	text-align: center;
}


h1.align-center {
	text-align: center;
}

p.name-format {
color: #0066ff;
}


p.text-center {
	text-align: center;
	margin:0%;
}


p.align {
	text-align: center;
	margin: 5%;
}

div.myPanel {
	text-align: center;
}


div.item-center {
	display: inline-block;
}

#middle {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	height: 400px;
	margin-top: 65px;
	border:3px solid #999;
	

}